$button-border: 1px solid #EEEEEE;
$button-active: #EEEEEE;
$border-color: #DDDDDD;

* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}


.btn {
	cursor: pointer;
}

.btn-default {
	background-color: white;
	border: $button-border;
}

.btn-default:active {
	background-color: $button-active;	
}


#snapshot {
	display: block;
	width: 250px;
	height: 75px;
}

#meeting_canvas {
	display:none;
	width: 100%;
	height: 100%;
}

#sent_image {
	width: 100%;
	height: 100%;
}

#server-image {
	width: 100%;
	height: 100%;
}

video {
	
	width: 100%;
	height: 100%;
}

#container {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 100%;
	height: 100vh;
}

.quadrant {
	padding: 10px;
	border: 1px solid $border-color;
	background-color: black;
	width: 50%;
	height: 50%;
}